In [1]:
from bs4 import BeautifulSoup                        
import requests
import json
import base64
import pandas as pd
import os

# DÃ¹ng cho history data

## VCB

In [ ]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

keyspace = 'bank_exrate'
username = 'cassandra'
password = 'cassandra'

# Replace with your cluster's contact points
contact_points = ['localhost']
# Replace with your cluster's port (default is 9042)
port = 9042

# Optional: If using authentication
auth_provider = PlainTextAuthProvider(username, password)

# Connect to the cluster
cluster = Cluster(contact_points, port=port, auth_provider=auth_provider)
session = cluster.connect(keyspace)

# Execute a query
query = "SELECT * FROM exrate;"
rows = session.execute(query)

# Process the results
for row in rows:
    print(row)
    
# Clean up and close the connection
session.shutdown()
cluster.shutdown()

In [ ]:
def url_routing(bank: str, date: str):
    if (bank.lower == 'vietcombank'):
        return f"https://www.vietcombank.com.vn/api/exchangerates?date={date}" # e.g. 2024-06-07

    return ""

In [11]:
dataStr = requests.get(f"https://www.vietcombank.com.vn/api/exchangerates?date=2024-06-07").content
dataMap = eval(dataStr)

data = dataMap['Data']
data
dataMap

{'Count': 20,
 'Date': '2024-06-07T00:00:00',
 'UpdatedDate': '2024-06-07T23:00:00+07:00',
 'Data': [{'currencyName': 'US DOLLAR',
   'currencyCode': 'USD',
   'cash': '25183.00',
   'transfer': '25213.00',
   'sell': '25453.00',
   'icon': '/-/media/Default-Website/Default-Images/Icons/Flags/im_flag_usa.svg?h=32&w=32&ts=20230610195953&hash=4576D9B7C910424CC72B7A592BA369AE'},
  {'currencyName': 'EURO',
   'currencyCode': 'EUR',
   'cash': '26973.23',
   'transfer': '27245.69',
   'sell': '28452.17',
   'icon': '/-/media/Default-Website/Default-Images/Icons/Flags/im_flag_eur.svg?h=32&w=32&ts=20230610195955&hash=10502813C2316A5601FD57F7A0C89A3A'},
  {'currencyName': 'UK POUND STERLING',
   'currencyCode': 'GBP',
   'cash': '31676.83',
   'transfer': '31996.80',
   'sell': '33023.24',
   'icon': '/-/media/Default-Website/Default-Images/Icons/Flags/im_flag_gbp.svg?h=32&w=32&ts=20230610195950&hash=72ED63A02E20F8B413E65DE9B7F062AE'},
  {'currencyName': 'JAPANESE YEN',
   'currencyCode': 'JPY',
   'cash': '158.29',
   'transfer': '159.88',
   'sell': '167.53',
   'icon': '/-/media/Default-Website/Default-Images/Icons/Flags/im_flag_jpy.svg?h=32&w=32&ts=20230610195953&hash=C5D3E7B6B5EEE49C3D5C3C3A8B6798B8'},
  {'currencyName': 'AUSTRALIAN DOLLAR',
   'currencyCode': 'AUD',
   'cash': '16510.89',
   'transfer': '16677.67',
   'sell': '17212.68',
   'icon': '/-/media/Default-Website/Default-Images/Icons/Flags/im_flag_aud.svg?h=32&w=32&ts=20230610195950&hash=F70700292015EB326CA79643D4F05C03'},
  {'currencyName': 'SINGAPORE DOLLAR',
   'currencyCode': 'SGD',
   'cash': '18414.14',
   'transfer': '18600.14',
   'sell': '19196.83',
   'icon': '/-/media/Default-Website/Default-Images/Icons/Flags/im_flag_sgd.svg?h=32&w=32&ts=20230709003433&hash=C95A1CFD98A6896023B5EFE9D23459AA'},
  {'currencyName': 'THAI BAHT',
   'currencyCode': 'THB',
   'cash': '617.09',
   'transfer': '685.65',
   'sell': '711.91',
   'icon': '/-/media/Default-Website/Default-Images/Icons/Flags/im_flag_thb.svg?h=32&w=32&ts=20230610195952&hash=AB6CDBA1C854ADE46132EBF0A6DCFEF4'},
  {'currencyName': 'CANADIAN DOLLAR',
   'currencyCode': 'CAD',
   'cash': '18129.81',
   'transfer': '18312.94',
   'sell': '18900.41',
   'icon': '/-/media/Default-Website/Default-Images/Icons/Flags/im_flag_cad.svg?h=32&w=32&ts=20230610195951&hash=55B303641110059C97F6ABDE45B2FE20'},
  {'currencyName': 'SWISS FRANC',
   'currencyCode': 'CHF',
   'cash': '27836.39',
   'transfer': '28117.56',
   'sell': '29019.56',
   'icon': '/-/media/Default-Website/Default-Images/Icons/Flags/im_flag_chf.svg?h=32&w=32&ts=20230610195952&hash=CBA2E48794BD6E04AAF8761C55AB07DF'},
  {'currencyName': 'HONG KONG DOLLAR',
   'currencyCode': 'HKD',
   'cash': '3171.97',
   'transfer': '3204.01',
   'sell': '3306.80',
   'icon': '/-/media/Default-Website/Default-Images/Icons/Flags/im_flag_hkd.svg?h=32&w=32&ts=20230610195951&hash=E50E43ECCD43C736E273734DEEB000D8'},
  {'currencyName': 'CHINESE YUAN',
   'currencyCode': 'CNY',
   'cash': '3436.59',
   'transfer': '3471.30',
   'sell': '3583.20',
   'icon': '/-/media/Default-Website/Default-Images/Icons/Flags/im_flag_cny.svg?h=32&w=32&ts=20230610195953&hash=1E37E5E1D30CA9F186D9B8A0A188AE7C'},
  {'currencyName': 'DANISH KRONE',
   'currencyCode': 'DKK',
   'cash': '0.00',
   'transfer': '3642.62',
   'sell': '3782.11',
   'icon': '/-/media/Default-Website/Default-Images/Icons/Flags/im_flag_dkk.svg?h=32&w=32&ts=20230610195954&hash=7A1074CAFFF3E4469DD8DBFA9F95D1C0'},
  {'currencyName': 'INDIAN RUPEE',
   'currencyCode': 'INR',
   'cash': '0.00',
   'transfer': '303.77',
   'sell': '315.92',
   'icon': '/-/media/Default-Website/Default-Images/Icons/Flags/im_flag_inr.svg?h=32&w=32&ts=20230610195952&hash=6E19DDEEC1053D83CE9C98283BE347AC'},
  {'currencyName': 'KOREAN WON',
   'currencyCode': 'KRW',
   'cash': '16.11',
   'transfer': '17.90',
   'sell': '19.53',
   'icon': '/-/media/Default-Website/Default-Images/Icons/Flags/im_flag_krw.svg?h=32&w=32&ts=20230709003433&hash=43B80AF8FF6632988EB89EF0C30BDDE6'},
  {'currencyName': 'KUWAITI DINAR',
   'currencyCode': 'KWD',
   'cash': '0.00',
   'transfer': '82732.71',
   'sell': '86040.13',
   'icon': '/-/media/Default-Website/Default-Images/Icons/Flags/im_flag_kwd.svg?h=32&w=32&ts=20230610195949&hash=76B738C67E5151DBB4F9D27A0DEA2FC3'},
  {'currencyName': 'MALAYSIAN RINGGIT',
   'currencyCode': 'MYR',
   'cash': '0.00',
   'transfer': '5358.73',
   'sell': '5475.60',
   'icon': '/-/media/Default-Website/Default-Images/Icons/Flags/im_flag_myr.svg?h=32&w=32&ts=20230610195950&hash=4736802FBB11427761408F193E6452EC'},
  {'currencyName': 'NORWEGIAN KRONE',
   'currencyCode': 'NOK',
   'cash': '0.00',
   'transfer': '2360.08',
   'sell': '2460.28',
   'icon': '/-/media/Default-Website/Default-Images/Icons/Flags/im_flag_nok.svg?h=32&w=32&ts=20230610195951&hash=48B571580E4926C86F257FE4D167F750'},
  {'currencyName': 'RUSSIAN RUBLE',
   'currencyCode': 'RUB',
   'cash': '0.00',
   'transfer': '270.86',
   'sell': '299.84',
   'icon': '/-/media/Default-Website/Default-Images/Icons/Flags/im_flag_rub.svg?h=32&w=32&ts=20230709003433&hash=B5A31D5C371B6C922EBB4808605705EB'},
  {'currencyName': 'SAUDI ARABIAN RIYAL',
   'currencyCode': 'SAR',
   'cash': '0.00',
   'transfer': '6759.09',
   'sell': '7029.30',
   'icon': '/-/media/Default-Website/Default-Images/Icons/Flags/im_flag_sar.svg?h=32&w=32&ts=20230610195954&hash=732C766503BA27FF3A8764FAF20A2C0F'},
  {'currencyName': 'SWEDISH KRONA',
   'currencyCode': 'SEK',
   'cash': '0.00',
   'transfer': '2397.81',
   'sell': '2499.61',
   'icon': '/-/media/Default-Website/Default-Images/Icons/Flags/im_flag_sek.svg?h=32&w=32&ts=20230610195949&hash=88CF4CDE8DB12CA0D56485A05EC27A22'}]}

In [16]:
import time

int(time.time() * 1000)

1719048126485

In [55]:
list_columns = ['USD', 'AUD', 'CAD', 'CHF', 'EUR', 'JPY', 'SGD']
dfVcb = pd.DataFrame(data)[['currencyCode', 'cash', 'transfer', 'sell']] 
dfVcb = dfVcb.loc[dfVcb['currencyCode'].isin(list_columns)]
dfVcb = dfVcb.astype({'cash': 'float', 'transfer': 'float', 'sell': 'float'})

dfVcb

  currencyCode      cash  transfer      sell
0          USD  25183.00  25213.00  25453.00
1          EUR  26973.23  27245.69  28452.17
3          JPY    158.29    159.88    167.53
4          AUD  16510.89  16677.67  17212.68
5          SGD  18414.14  18600.14  19196.83
7          CAD  18129.81  18312.94  18900.41
8          CHF  27836.39  28117.56  29019.56

In [65]:
df_pivot = None

for item in ['cash', 'transfer', 'sell']:
    dfVcb2 = dfVcb[['currencyCode', item]].T
    dfVcb2.columns = dfVcb2.iloc[0]
    dfVcb2 = dfVcb2.drop(dfVcb2.index[0])
    
    if df_pivot is None:
        df_pivot = dfVcb2
    else:
        df_pivot = pd.concat([df_pivot, dfVcb2], axis=0)

# df_pivot = pd.concat([df_pivot, df_pivot.iloc[[-1]]], axis=0)
df_pivot

currencyCode,USD,EUR,JPY,AUD,SGD,CAD,CHF
cash,25183.0,26973.23,158.29,16510.89,18414.14,18129.81,27836.39
transfer,25213.0,27245.69,159.88,16677.67,18600.14,18312.94,28117.56
sell,25453.0,28452.17,167.53,17212.68,19196.83,18900.41,29019.56

In [68]:
df_pivot = df_pivot.assign(
    instrument_type=df_pivot.index.map(lambda x: 'buy' if x != 'sell' else x),
    deal_type = df_pivot.index.map(lambda x: 'cash' if x == 'sell' else x)
)
df_pivot

currencyCode,USD,EUR,JPY,AUD,SGD,CAD,CHF,instrument_type,deal_type
cash,25183.0,26973.23,158.29,16510.89,18414.14,18129.81,27836.39,buy,cash
transfer,25213.0,27245.69,159.88,16677.67,18600.14,18312.94,28117.56,buy,transfer
sell,25453.0,28452.17,167.53,17212.68,19196.83,18900.41,29019.56,sell,cash

In [76]:
df_pivot = pd.concat([df_pivot, df_pivot.iloc[[-1], :-1].assign(deal_type=['transfer'])], axis=0)
df_pivot

currencyCode,USD,EUR,JPY,AUD,SGD,CAD,CHF,instrument_type,deal_type
cash,25183.0,26973.23,158.29,16510.89,18414.14,18129.81,27836.39,buy,cash
transfer,25213.0,27245.69,159.88,16677.67,18600.14,18312.94,28117.56,buy,transfer
sell,25453.0,28452.17,167.53,17212.68,19196.83,18900.41,29019.56,sell,cash
sell,25453.0,28452.17,167.53,17212.68,19196.83,18900.41,29019.56,sell,transfer

In [78]:
df_pivot = df_pivot.assign(bank='vietcombank')
df_pivot

currencyCode,USD,EUR,JPY,AUD,SGD,CAD,CHF,instrument_type,deal_type,bank
cash,25183.0,26973.23,158.29,16510.89,18414.14,18129.81,27836.39,buy,cash,vietcombank
transfer,25213.0,27245.69,159.88,16677.67,18600.14,18312.94,28117.56,buy,transfer,vietcombank
sell,25453.0,28452.17,167.53,17212.68,19196.83,18900.41,29019.56,sell,cash,vietcombank
sell,25453.0,28452.17,167.53,17212.68,19196.83,18900.41,29019.56,sell,transfer,vietcombank

In [80]:
df_pivot.to_csv('test.csv', index=False)

In [79]:
for index, row in df_pivot.iterrows():
    print(index)
    print(row)

cash
currencyCode
USD                    25183.0
EUR                   26973.23
JPY                     158.29
AUD                   16510.89
SGD                   18414.14
CAD                   18129.81
CHF                   27836.39
instrument_type            buy
deal_type                 cash
bank               vietcombank
Name: cash, dtype: object
transfer
currencyCode
USD                    25213.0
EUR                   27245.69
JPY                     159.88
AUD                   16677.67
SGD                   18600.14
CAD                   18312.94
CHF                   28117.56
instrument_type            buy
deal_type             transfer
bank               vietcombank
Name: transfer, dtype: object
sell
currencyCode
USD                    25453.0
EUR                   28452.17
JPY                     167.53
AUD                   17212.68
SGD                   19196.83
CAD                   18900.41
CHF                   29019.56
instrument_type           sell
deal_type                 cash
bank               vietcombank
Name: sell, dtype: object
sell
currencyCode
USD                    25453.0
EUR                   28452.17
JPY                     167.53
AUD                   17212.68
SGD                   19196.83
CAD                   18900.41
CHF                   29019.56
instrument_type           sell
deal_type             transfer
bank               vietcombank
Name: sell, dtype: object

In [ ]:
# TODO: 
#   add bank_name as param
#   try-catch
def send_request(date: str) -> str:
    data = requests.get(f"https://www.vietcombank.com.vn/api/exchangerates/exportexcel?date={date}").content
    response_dict = json.loads(data)
    file_name = response_dict['FileName'].replace(" ", "_")
    base64_data = response_dict['Data']

    # decode base64 data into byte string
    file_data = base64.b64decode(base64_data)

    # export byte string to file
    with open(file_name, 'wb') as file:
        file.write(file_data)
    
    return file_name

def get_bank_data(date: str):
    exrate_file_path = send_request(date)
    
    excel_df = pd.read_excel(exrate_file_path, skiprows=3, header=None) \
        .rename(columns={0: "currency_code", 1: "currency_name", 2: "buy_rate_cash", 3: "buy_rate_transfer", 4: "sell_rate"})

    # remove metadata files
    excel_df = excel_df.loc[(excel_df['currency_code'].isna() == False) & (excel_df['currency_code'].str.len() == 3)]
    
    # remove file after transform
    if os.path.exists(exrate_file_path):
        os.remove(exrate_file_path)
        
    return excel_df

In [ ]:
df = get_bank_data('2024-06-06')
df.head(100)

## Techcombank

In [1]:
import requests

url = 'https://techcombank.com/content/techcombank/web/vn/vi/cong-cu-tien-ich/ty-gia/_jcr_content.exchange-rates.2024-07-01.integration.json'
response_str = requests.get(url).content
response_str

# map_response = eval(response_str)
# map_data = map_response['exchangeRate']['data']

b'{"exchangeRate":{"data":[{"itemId":"11272","label":"AUD","askRate":"17361.0","bidRateCK":"16732.0","bidRateTM":"16463.0","sourceCurrency":"AUD","targetCurrency":"VND","askRateTM":"17372.0"},{"itemId":"10295","label":"CAD","askRate":"18962.0","bidRateCK":"18342.0","bidRateTM":"18067.0","sourceCurrency":"CAD","targetCurrency":"VND","askRateTM":"18969.0"},{"itemId":"10524","label":"CHF","askRate":"28614.0","bidRateCK":"27981.0","bidRateTM":"27617.0","sourceCurrency":"CHF","targetCurrency":"VND","askRateTM":"28627.0"},{"itemId":"11811","label":"CNY","askRate":"3710.0","bidRateCK":"3320.0","sourceCurrency":"CNY","targetCurrency":"VND"},{"itemId":"10262","label":"EUR","askRate":"27840.0","bidRateCK":"27011.0","bidRateTM":"26752.0","sourceCurrency":"EUR","targetCurrency":"VND","askRateTM":"28104.0"},{"itemId":"10106","label":"GBP","askRate":"32767.0","bidRateCK":"31831.0","bidRateTM":"31451.0","sourceCurrency":"GBP","targetCurrency":"VND","askRateTM":"32786.0"},{"itemId":"11729","label":"HKD","askRate":"3330.0","bidRateCK":"3128.0","sourceCurrency":"HKD","targetCurrency":"VND"},{"itemId":"10072","label":"JPY","askRate":"161.62","bidRateCK":"155.47","bidRateTM":"151.34","sourceCurrency":"JPY","targetCurrency":"VND","askRateTM":"163.73"},{"itemId":"10452","label":"KRW","askRate":"21.0","sourceCurrency":"KRW","targetCurrency":"VND"},{"itemId":"10308","label":"SGD","askRate":"19046.0","bidRateCK":"18520.0","bidRateTM":"18245.0","sourceCurrency":"SGD","targetCurrency":"VND","askRateTM":"19156.0"},{"itemId":"11708","label":"THB","askRate":"725.0","bidRateCK":"672.0","bidRateTM":"609.0","sourceCurrency":"THB","targetCurrency":"VND","askRateTM":"726.0"},{"itemId":"10679","label":"USD (1,2)","bidRateTM":"25197.0","sourceCurrency":"USD","targetCurrency":"VND","askRateTM":"25464.0"},{"itemId":"11118","label":"USD (5,10,20)","bidRateTM":"25203.0","sourceCurrency":"USD","targetCurrency":"VND","askRateTM":"25464.0"},{"itemId":"10994","label":"USD (50,100)","askRate":"25464.0","bidRateCK":"25273.0","bidRateTM":"25230.0","sourceCurrency":"USD","targetCurrency":"VND","askRateTM":"25464.0"}],"updatedTimes":["17:02:00","16:38:27","16:32:01","16:18:13","16:02:01","15:51:37","15:32:01","15:19:06","15:19:05","15:02:59","15:02:01","14:43:26","14:43:25","14:32:01","14:11:50","14:11:49","14:02:01","13:37:31","13:32:01","13:02:01","12:32:01","12:02:01","11:32:01","11:02:01","10:32:01","10:25:05","10:02:01","09:59:30","09:59:29","09:52:58","09:46:44","09:46:19","09:32:01","09:30:01","09:22:41","09:22:40","09:11:37","09:11:36","09:10:23","09:10:22","09:08:57","09:08:56","09:05:12","09:02:02","09:02:01","08:52:52","08:52:21","08:32:35","08:32:02","08:23:46","08:06:36"]},"goldRate":{"data":[{"itemId":"11343","askRate":"7700000.0","bidRate":"7470000.0"}],"updatedTimes":["17:02:00","16:38:27","16:32:01","16:18:13","16:02:01","15:51:37","15:32:01","15:19:06","15:19:05","15:02:59","15:02:01","14:43:26","14:43:25","14:32:01","14:11:50","14:11:49","14:02:01","13:37:31","13:32:01","13:02:01","12:32:01","12:02:01","11:32:01","11:02:01","10:32:01","10:25:05","10:02:01","09:59:30","09:59:29","09:52:58","09:46:44","09:46:19","09:32:01","09:30:01","09:22:41","09:22:40","09:11:37","09:11:36","09:10:23","09:10:22","09:08:57","09:08:56","09:05:12","09:02:02","09:02:01","08:52:52","08:52:21","08:32:35","08:32:02","08:23:46","08:06:36"]},"otherRate":{"data":[{"itemId":"10490","ceiling":"25464.00","central":"24252.00","floor":"23040.00"}],"updatedTimes":["17:02:00","16:38:27","16:32:01","16:18:13","16:02:01","15:51:37","15:32:01","15:19:06","15:19:05","15:02:59","15:02:01","14:43:26","14:43:25","14:32:01","14:11:50","14:11:49","14:02:01","13:37:31","13:32:01","13:02:01","12:32:01","12:02:01","11:32:01","11:02:01","10:32:01","10:25:05","10:02:01","09:59:30","09:59:29","09:52:58","09:46:44","09:46:19","09:32:01","09:30:01","09:22:41","09:22:40","09:11:37","09:11:36","09:10:23","09:10:22","09:08:57","09:08:56","09:05:12","09:02:02","09:02:01","08:52:52","08:52:21","08:32:35","08:32:02","08:23:46","08:06:36"]},"tenorRate":{"data":[],"updatedTimes":[]},"tenorintRate":{"data":[],"updatedTimes":[]}}'

In [12]:
from datetime import datetime

map_response = eval(response_str)

now = datetime.now().strftime("%Y-%m-%d") + " " + map_response['exchangeRate']['updatedTimes'][0]
pd.Timestamp(now)

# list_map_data = map_response['exchangeRate']['data']
# list_map_data

Timestamp('2024-07-03 17:02:00')

In [11]:
list_map_data[0].keys()

dict_keys(['itemId', 'label', 'askRate', 'bidRateCK', 'bidRateTM', 'sourceCurrency', 'targetCurrency', 'askRateTM'])

In [4]:
import pandas as pd

map_data_trans = {}
cassandra_mapping = {'bidRateTM': "buy_cash", 'bidRateCK': "buy_transfer", 'askRateTM': "sell_cash", 'askRate': "sell_transfer"}
list_currency = ['USD', 'AUD', 'CAD', 'CHF', 'EUR', 'JPY', 'SGD']
select_columns = ['bank', 'deal_type', 'instrument_type'] + list_currency

for map_data in list_map_data:
    list_map_data_by_item = []
    currency = map_data['label']
    
    for techcombank_key, cassandra_key in cassandra_mapping.items():
        if techcombank_key in map_data:
            deal_type, instrument_type = cassandra_key.split('_')
            list_cassandra_value = map_data_trans.get(cassandra_key, {'deal_type': deal_type, 'instrument_type': instrument_type, 'bank': 'techcombank'})
            list_cassandra_value[currency] = float(map_data[techcombank_key])
            
            map_data_trans[cassandra_key] = list_cassandra_value

list_rows = []
for row in map_data_trans.values():
    list_rows.append(row)
    
df_exrate = pd.DataFrame(list_rows)
df_exrate['USD'] = df_exrate[['USD (1,2)', 'USD (5,10,20)', 'USD (50,100)']].mean(axis=1, skipna=True)
df_exrate = df_exrate[select_columns]
df_exrate

,bank,deal_type,instrument_type,USD,AUD,CAD,CHF,EUR,JPY,SGD
0,techcombank,buy,cash,25210.0,16463.0,18067.0,27617.0,26752.0,151.34,18245.0
1,techcombank,buy,transfer,25273.0,16732.0,18342.0,27981.0,27011.0,155.47,18520.0
2,techcombank,sell,cash,25464.0,17372.0,18969.0,28627.0,28104.0,163.73,19156.0
3,techcombank,sell,transfer,25464.0,17361.0,18962.0,28614.0,27840.0,161.62,19046.0

In [5]:
df_exrate.dtypes

bank                object
deal_type           object
instrument_type     object
USD                float64
AUD                float64
CAD                float64
CHF                float64
EUR                float64
JPY                float64
SGD                float64
dtype: object

In [28]:
data2 = [
    {'id': 1, 'name': 'Alice', 'age': 25},
    {'id': 2, 'name': 'Bob'},
    {'id': 3, 'name': 'Catherine', 'age': 22}
]
df2 = pd.DataFrame(data2)
df2

   id       name   age
0   1      Alice  25.0
1   2        Bob   NaN
2   3  Catherine  22.0

In [26]:
import pandas as pd

data1 = {
    'usd': [1],
    'aud': [2],
    'eur': [3]
}
df1 = pd.DataFrame(data1)
df1

   usd  aud  eur
0    1    2    3

# Time uuid

In [1]:
import cassandra
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider
import datetime

In [2]:
keyspace = 'bank_exrate'
username = 'cassandra'
password = 'cassandra'
contact_points = ['127.0.0.1']
port = 9042
auth_provider = PlainTextAuthProvider(username, password)

cluster = Cluster(contact_points, port=port, auth_provider=auth_provider)
session = cluster.connect(keyspace)

In [9]:
str(cassandra.util.uuid_from_time(datetime.datetime.now()))

'd4fe2962-309d-11ef-a427-39e14a732f44'

In [7]:
datetime.datetime.now().timestamp()

1719633239.508103

In [10]:
# server timezone
datetime.datetime.now()

datetime.datetime(2024, 6, 29, 10, 54, 23, 48428)

In [11]:
# utc
cassandra.util.datetime_from_timestamp(datetime.datetime.now().timestamp())

datetime.datetime(2024, 6, 29, 3, 54, 23, 321149)

# Draft

In [51]:
import pandas as pd

# Sample DataFrames
data1 = {
    'bank': ['Bank A', 'Bank B', 'Bank C'],
    'deal_type': ['buy', 'sell', 'buy'],
    'instrument_type': ['cash', 'transfer', 'cash'],
    'last_updated': ['2024-06-07T00:00:00', '2024-06-08T00:00:00', '2024-06-09T00:00:00'],
    'usd': [1.1, 1.2, 1.3],
    'jpy': [110, 120, 130]
}

data2 = {
    'last_updated': ['2024-06-07T00:00:00', '2024-06-09T00:00:00', '2024-06-09T00:00:00'],
    'instrument_type': ['cash', 'transfer', 'cash'],
    'bank': ['Bank A', 'Bank B', 'Bank C'],
    'deal_type': ['buy', 'sell', 'buy'],
    'jpy': [110, 120, 130],
    'usd': [1.1, 1.2, 1.3],
}

list_currency = ['USD', 'JPY']
exrate_pk = ['bank', 'deal_type', 'instrument_type']
select_columns = exrate_pk + list_currency
select_columns = [col.lower() for col in select_columns]


df1 = pd.DataFrame(data1)[select_columns]
df2 = pd.DataFrame(data2)[select_columns]

# Ensure the 'last_updated' column is in datetime format
# df1['last_updated'] = pd.to_datetime(df1['last_updated'])
# df2['last_updated'] = pd.to_datetime(df2['last_updated'])

# Sort DataFrames by the primary key fields
df1_sorted = df1.sort_values(by=['bank', 'deal_type', 'instrument_type'])
df2_sorted = df2.sort_values(by=['bank', 'deal_type', 'instrument_type'])

# Sort the columns alphabetically
df1_sorted = df1_sorted[sorted(df1_sorted.columns)]
df2_sorted = df2_sorted[sorted(df2_sorted.columns)]

# Set the primary key fields as the index
df1_indexed = df1_sorted.set_index(['bank', 'deal_type', 'instrument_type'])
df2_indexed = df2_sorted.set_index(['bank', 'deal_type', 'instrument_type'])

# Compare the DataFrames
are_equal = df1_indexed.equals(df2_indexed)

print("Are the DataFrames equal based on the primary key fields? ", are_equal)

Are the DataFrames equal based on the primary key fields?  True

In [46]:
select_columns

['bank', 'deal_type', 'instrument_type', 'usd', 'jpy']

In [36]:
df1

     bank deal_type instrument_type         last_updated  usd  jpy
0  Bank A       buy            cash  2024-06-07T00:00:00  1.1  110
1  Bank B      sell        transfer  2024-06-08T00:00:00  1.2  120
2  Bank C       buy            cash  2024-06-09T00:00:00  1.3  130

In [37]:
df2

          last_updated instrument_type    bank deal_type  jpy  usd
0  2024-06-07T00:00:00            cash  Bank A       buy  110  1.1
1  2024-06-08T00:00:00        transfer  Bank B      sell  120  1.2
2  2024-06-09T00:00:00            cash  Bank C       buy  130  1.3

In [1]:
import pandas as pd

data = {
    'id': [1, 2, 3],
    'name': ['Alice', 'Bob', 'Catherine'],
    'age': [25, 30, 22],
    'city': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)

# List of desired columns
desired_columns = ['id', 'name']
df = df.loc[df['city'] == 'New York', desired_columns]

In [7]:
import pandas as pd

# Sample DataFrame 1
data1 = {
    'USD': [25223.0],
    'AUD': [16445.54],
    'CAD': [18083.23],
    'CHF': [27587.38],
    'EUR': [26363.45],
    'JPY': [153.35],
    'SGD': [18272.37]
}
df1 = pd.DataFrame(data1)

# Sample DataFrame 2
data2 = {
    'USD': [25223.0],
    'AUD': [16445.54],
    'CAD': [18083.23],
    'CHF': [27587.38],
    'EUR': [26363.45],
    'JPY': [153.35],
    'SGD': [18272.37]
}
df2 = pd.DataFrame(data2)

# Compare the two DataFrames
are_equal = df1.equals(df2)

if not are_equal:
    print("Are the two DataFrames equal?", are_equal)
1

1